<!DOCTYPE html>
<html lang="{{ site.language }}">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="icon" href="/imgs/favicon.png" type="image/png">

  {% if page.short_description %}
    {% assign meta_descr = page.short_description %}
  {% else %}
    {% assign meta_descr = site.description %}
  {% endif %}

  <meta name="description" content="{{ meta_descr }}">
  <meta name="keywords" content="{{ site.keywords }}">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ meta_descr }}">

  <!-- Verification link for Mastodon -->
  {% if site.verificationURL %}
  <link href="{{ site.verificationURL }}" rel="me">
  {% endif %}
</head>

<body>
  <header>
  <a href="#main" class="skip-link">Skip to main content</a>
    <img src="/imgs/logo-wide.jpg" alt="{{ site.title }}" class="logo-wide">
    {% include navigation.html %}
  </header>

  <main id="main" tabindex="-1">
    {{ content }}
  </main>

  {% if site.sourceURL and site.sourceHost %}
  <footer>
      <p><a href="{{ site.sourceURL }}" rel="external">Source code</a> for this site available on {{ site.sourceHost }}.</p>
  </footer>
  {% endif %}
</body>

</html>
