:root {
  --bg-light: #B6CFBC;
  --text-light: #211F20;
  --link-light: #2F5939;

  --bg-dark: #448153;
  --text-dark: #FFFFFF;
  --link-dark: #FFFFFF; /* TODO change */

  --background: var(--bg-light);
  --text: var(--text-light);
  --link: var(--link-light);
}

@media(prefers-color-scheme: dark) {
  :root {
    --background: var(--bg-dark);
    --text: var(--text-dark);
    --link: var(--link-dark);
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
}

a:link {
  color: var(--link);
  text-decoration: underline;
}

a:visited {
  color: var(--link);
  /* TODO: differentiate from non-visited */
}

a.skip-link {
  position: absolute;
  left: -9999px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: var(--link);
  background: var(--background);
}

a.skip-link:focus {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: auto;
  height: auto;
  line-height: 1.5;
  padding: 0.25rem;
}

header {
  text-align: center;
  font-size: 1.5rem;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin: 0 0.25rem;
}

header nav a {
  padding: 0 0.25rem;
}

header nav a[aria-current="page"] {
  background: var(--link);
  color: var(--background);
  border-radius: 2px;
  text-decoration: underline overline transparent;
}

img.logo-wide {
  max-width: 80%;
  border: 1px solid var(--text);
  border-radius: 4px;
}

body {
  margin: 1rem 2rem;
}

.calendar-embed {
  border: 1px solid transparent;
}

ul li {
  line-height: 1.5;
}

footer {
  margin-top: 2rem;
  border-top: 1px solid var(--text);
}
