:root {
  --bg-light: #B6CFBC;
  --text-light: #211F20;
  --link-light: #2F5939;

  --bg-dark: #448153;
  --text-dark: #FFFFFF;
  --link-dark: #FFFFFF; /* TODO change */

  --background: var(--bg-light);
  --text: var(--text-light);
  --link: var(--link-light);
}

@media(prefers-color-scheme: dark) {
  :root {
    --background: var(--bg-dark);
    --text: var(--text-dark);
    --link: var(--link-dark);
  }
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
}

a:link {
  color: var(--link);
  text-decoration: underline;
}

a:visited {
  color: var(--link);
  /* TODO: differentiate from non-visited */
}
